<!DOCTYPE html>
<html lang="ch" xmlns:th="http://www.thymeleaf.org" th:fragment="footer">

<div class="row c">
    <p class="footer_description">《烽火中文网》提供免费全本小说阅读网站，包含言情小说、玄幻小说、都市小说、历史小说、玄幻小说等小说阅读网站。</p>
</div>

<div class="footer">
    <p class="tc">
        <a href="/">
            <strong>烽火小说网</strong>
        </a>

        <script type="text/javascript" src="https://s9.cnzz.com/z_stat.php?id=1279726331&web_id=1279726331"></script>

    </p>
</div>
<div class="left_ad"></div>
<div class="right_ad"></div>

<script>
    lazyload();
</script>

</html>